<h2>{{ 'module.createKitty.title'|trans }}</h2>
<form action="{{ path('coffeekitty_create') }}" method="post" {{ form_enctype(form) }} class="create-kitty-form">
    {{ form_widget(form) }}
    <input type="submit" />
</form>