{#
 #  Author:    Thorsten 'stepo' Hallwas
 #             Sascha 's10z' Schulz
 #  origin:    M
 #  copyright: 2012 ICANS GmbH
 #}
{% form_theme form.price 'IcansPlatformsCafManBundle:Forms:unitPrefix_formTheme.html.twig' %}
<form action="{{ path('coffeekitty_administrate', {'kittyId' : kittyId}) }}" method="post" {{ form_enctype(form) }} class="editprice-kitty-form">
    {{ form_widget(form) }}
    <div class="editprice-kitty-actions">
        <button type="submit" class="editprice-kitty-primary-action" id="price-submit">
            {{ 'editpriceKitty.submit'|trans }}
        </button>
    </div>
</form>
