{% extends 'IcansPlatformsCafManBundle::base.html.twig' %}
{% block stage %}
    {% use 'IcansPlatformsCafManBundle:Partials:notifications.html.twig' %}
    {{ block('notifications') }}

    <div class="page-header">
        <h1>{{ 'page.manageCoffeKittys.title'|trans }}</h1>
    </div>

    <div class="row">
        <div class="span6">
            <h2>{{ 'module.kittyOverview.title'|trans }}</h2>
            {% render "IcansPlatformsCoffeeKittyBundle:CoffeeKitty:overview" %}
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="span6">
            <h2>{{ 'module.createKitty.title'|trans }}</h2>
            {% render "IcansPlatformsCoffeeKittyBundle:CoffeeKitty:create" %}
        </div>
    </div>

    <hr />

    {% render "IcansPlatformsCoffeeKittyBundle:CoffeeKitty:search" %}
{% endblock stage %}