{#
    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: 2012 ICANS GmbH
 #}
{% block sign_up %}
    <h2>{{ 'module.signUp.title'|trans }}</h2>
    <p>
      <form class="form-horizontal" action="index-authd-no-kitty.html">
        <div class="control-group">
          <label class="control-label" for="signup-email">Email</label>
          <div class="controls">
            <input type="text" id="signup-email" placeholder="e.g. foo@bar.com">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup-password">Password</label>
          <div class="controls">
            <input type="password" id="signup-password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup-repeat-password">Repeat Password</label>
          <div class="controls">
            <input type="password" id="signup-repeat-password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup-displayname">Display Name</label>
          <div class="controls">
            <input type="text" id="signup-displayname" placeholder="e.g. &quot;Decaf&quot;">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup-fullname">Full Name</label>
          <div class="controls">
            <input type="text" id="signup-fullname" placeholder="e.g. John Smith">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" checked="checked" id="signup-publish"> Publish Statistics
            </label>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button id="signup-submit" type="submit" class="btn">{{ 'module.signUp.primaryAction'|trans }}</button>
          </div>
        </div>
      </form>
    </p>
{% endblock sign_up %}