/*
    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: 09.10.2012 ICANS GmbH
*/
@import 'lib/bootstrap.scss';
@import 'lib/responsive.scss'; // @TODO: look up if nessecary

body{
    padding-bottom: 40px;
    padding-top: 60px; // fixes overflow of fixed primary navigation
}

.stage { // @TODO: use ID for stage?
    @extend .container; // mimic twitter bootstrap container
}

.cafman-footer { // @TODO: use ID for footer?
    @extend .container; // mimic twitter bootstrap container
}