/*
    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: 09.10.2012 ICANS GmbH
*/
@import 'lib/bootstrap.scss';
//@import 'lib/responsive.scss'; // @TODO: look up if nessecary. Temporarily disables as broken in IE9

body{
    padding-bottom: 40px;
    padding-top: 60px; // fixes overflow of fixed primary navigation
}

.stage { // @TODO: use ID for stage?
    @extend .container; // mimic twitter bootstrap container
}

.cafman-footer { // @TODO: use ID for footer?
    @extend .container; // mimic twitter bootstrap container
}

.search-result-item-action {
    @extend .btn-primary;
    @extend .btn-mini;
}
.form-field-unit {
    @extend .add-on;
}

/**
 * Styling of form errors
 * ======================
 */
.form-error-list {
    margin: 0;
    list-style-type: none;
}
.form-error-item {
    @extend .alert;
    @extend .alert-error;
    margin: 0 0 4px;
}


/**
 * Mapp main menu onto bootstrap
 * =============================
 */
.header {
    @extend .navbar;
    @extend .navbar-fixed-top;
    @extend .navbar-inverse;

    .header-inside {
        @extend .navbar-inner;
    }

    .primary-navigation {
        @extend .nav;
        @extend .nav-collapse;
        @extend .collapse;
    }
    .additional-links {
        @extend .nav;
        @extend .pull-right;
    }
}


/**
 * Abstract definition for the mapping of formbuilder generated source onto bootstrap
 * ==================================================================================
 */
%formbuilder-horizontal-form {
    @extend .form-horizontal;

    .form-row {
        @extend .control-group;

        // use child combinator as key element shall behave differently if descendent only
        & > label {
            @extend .control-label;
        }
    }
    .form-controls {
        @extend .controls;
    }
    .form-explanation {
        display: inline;
    }
}
%formbuilder-inline-form {
    @extend .form-inline;

    div {
        display: inline-block; // collapse all rendered divs
    }

    input {
        display: inline-block;
    }
}

/**
 * User Account Edit Form
 * ======================
 */
.user-account-edit-form {
    @extend %formbuilder-horizontal-form;
}
.user-account-edit-actions {
     @extend .controls;
}
.user-account-edit-primary-action {
    @extend .btn;
    @extend .btn-primary;
}

/**
 * Create Kittys Form
 * ==================
 */
.create-kitty-form {
    @extend %formbuilder-inline-form;

    input {
        @extend .input-xlarge;
    }

    label {
        display: none;
    }
}
.create-kitty-primary-action {
    @extend .btn;
}

/**
 * User Registration Form
 * ======================
 */
.user-registration-form {
    @extend %formbuilder-horizontal-form;
}
.user-registration-actions {
    @extend .controls;
}
.user-registration-primary-action {
    @extend .btn;
}

/**
 * Login Form
 * ==========
 */
.login-form {
    @extend %formbuilder-horizontal-form;
}
.login-actions {
    @extend .controls;
}
.login-primary-action {
    @extend .btn;
}
.login-error {
    @extend .form-error-item;
}

/**
 * Default Kitty Form
 * ==================
 */
.default-kitty-edit-form {
    @extend %formbuilder-horizontal-form;

    .form-row {
        float: left;
        margin-right: 4px; // arbitrarily set in order to simulate whitespace enforcing prototype spacing
    }
}
.default-kitty-edit-primary-action {
    @extend .btn;
    @extend .btn-primary;
}

/**
 * Notifications
 * =============
 */
.notification-list {
    margin: 0;
    list-style: none;
}
.notification-item {
    @extend .alert;
    @extend .alert-info;
}
.notification-controls {
    @extend .pull-right;
    @extend .alert-controls;
}
.notification-control {
    @extend .btn;
    @extend .btn-mini;

    &.accept-member {
        @extend .btn-success;
    }
    &.decline-member {
        @extend .btn-danger;
    }
}

/**
 * Caffeine Threshold Alert
 * ========================
 */
.caffein-threshold-alert-form {
    @extend %formbuilder-inline-form;

    label {
        display: none;
    }
    input {
        @extend .input-mini;
    }
    .form-controls {
        @extend .input-append;
    }
}
.caffein-threshold-alert-primary-action {
    @extend .btn;
    @extend .btn-primary;
}