{#
    Author:    Thorsten 'stepo' Hallwas
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% extends 'IcansPlatformsCafManBundle:Home:index.html.twig' %}
{% block bodytext %}
    <div class="row">
        <div class="span6 pull-right">
            <h2>{{ 'page.home.createKitty.title'|trans }}</h2>
            {{ create_form.content|raw }}
        </div>
        <div class="span6">
            {{ search_form.content|raw }}
        </div>
    </div>
{% endblock bodytext %}