{#
    Author:    Thorsten 'stepo' Hallwas
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% extends 'IcansPlatformsCafManBundle::base.html.twig' %}
{% block stage %}
    <h2>{{ 'module.defaultkitty.title'|trans }}</h2>
    <form action="" method="post" class="default-kitty-edit-form" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="user-account-edit-actions">
            <button type="submit" class="default-kitty-edit-primary-action" id="update-submit">
                {{ 'module.defaultkitty.primaryAction'|trans }}
            </button>
        </div>
    </form>
{% endblock stage %}
