{#
    Author:    Thorsten 'stepo' Hallwas
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
<h2>{{ 'module.accountDetails.title'|trans }}</h2>
<form action="" method="post" class="user-account-edit-form" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="user-account-edit-actions">
        <button type="submit" class="user-account-edit-primary-action" id="update-submit">
            {{ 'module.accountDetails.primaryAction'|trans }}
        </button>
    </div>
</form>