{#
    Displays the form to edit the user profile.

    Author:    Thorsten 'stepo' Hallwas
    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% extends 'IcansPlatformsCafManBundle::base.html.twig' %}
{% block stage %}
    <div class="row">
        <div class="span12">
            {{ editself_form.content|raw }}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="span12">
            {{ defaultkitty_form.content|raw }}
        </div>
    </div>
    <hr  />
{% endblock stage %}
