{#
    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% block form_widget_simple %}
    <span class="textified-{{ form.vars.name }}">{{ value }}</span>
{% endblock form_widget_simple %}