{#
    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <span class="form-field-unit">{{ ('unit_for' ~ form.vars.unique_block_prefix)|trans }}</span>
{% endspaceless %}
{% endblock form_widget_simple %}